*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	color: inherit;
	text-decoration: none;
}

html{
	font-family: 'Manrope', sans-serif;
	font-size: 10px;
}

body{
	background: url('img/shadows.png') no-repeat top right;
	background-size: cover;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
}

header, .top{
	padding-left: calc(50vw - 574px);
	padding-right: calc(50vw - 574px);
}

.menubtn{
	display: none;
}

.logo{
	display: flex;
	align-items: center;
	margin-top: 8px;
}

.logo span{
	font-size: 3rem;
	line-height: 1;
	font-weight: 800;
	margin-left: 11px;
	display: inline-block;
	text-transform: lowercase;
}
nav{    
	margin-bottom: 5px;
}

.top_link{
	font-size: 1.4rem;
	line-height: 1.9rem;
	font-weight: 800;
}
.top_link:first-child{
	margin-right: 59px;
}

.call_to_action{
	margin-top: -2px;
}

.call_to_action a{
	font-size: 1.4rem;
}

.btn{
	border: none;
	border-radius: 50px;
	height: 51px;
	text-align: center;
	padding: 16px 26.5px;
	color: #ffffff;
	display: inline-block;
}

.btn.black{
	background-color: #000000;
}
.btn.red{
	background-color: #FF4229;
}

.call_to_action .btn{
	margin-left: 24px;
}

.top{
	padding-top: 48px;
	display: flex;
	flex-flow: column wrap;
	align-content: space-between;
	justify-content: flex-start;
	max-height: 900px;
}

h1{
	font-weight: 800;
	font-size: 6rem;
	line-height: 137%;
	margin: 122px 0 33px;
	max-width: 520px;
}

.top p {
	font-weight: 600;
	font-size: 2.3rem;
	line-height: 139%;
	margin-bottom: 69px;
	max-width: 433px;
	text-transform: lowercase;
}
.top p:first-letter {
	text-transform: uppercase;
}

form{
	width: 470px;
	background-color: #ffffff;
	border-radius: 50px;
	height: 82px;
	padding: 11px 11px 11px 36px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 111px;
}

input[type=email]{
	border: none;
	flex: 1 1 auto;
	padding: 10px 0;

}
input[type=email]:focus{
	outline: none;
}

::placeholder{
	color: rgba(0,0,0,0.2);
}

input[type=submit]{
	height: 61px;
	width: 145px;
	font-size: 1.6rem;
	font-weight: 800;
}

.icons{
	display: flex;
	max-width: 620px;
	justify-content: space-between;
	align-items: center;
}

.icon {
	width: 84px;
	height: 82px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	margin-right: 21px;
}

.icon.yellow{
	background-color: rgba(251, 195, 36, 1);
}
.icon.red{
	background-color: rgba(247, 126, 153, 0.2);
}
.icon.green{
	background-color: rgba(1, 234, 160, 0.2);
}

.icons .btn{
	width: 84px;
	height: 82px;
	line-height: 80px;
	padding: 0;
	font-size: 3.05rem;
	margin-left: 2px;
}

.icons a:not(.btn){
	font-weight: 800;
	font-size: 1.4rem;
	line-height: 19px;
}

.playbtn{
	width: 54px;
	height: 105px;
	border: 5px solid #FFBD49;
	border-right: none;
	border-radius: 55px 0 0 55px;
	cursor: pointer;
	position: relative;
	margin-right: 35px;
}

.playbtn::after{
	content: '';
	position: absolute;
	right: -4px;
	top: calc(50% - 12px);
	display: block;
	border-left: 14px solid black;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

.playbtn + a {
	margin: 0 36px 2px 0;
}


@media (max-width: 1200px){
	header, .top{
		padding-left: 40px;
		padding-right: 40px;
	}


	.top > img {
		width: calc(100% - 620px);
	}
}


@media (max-width: 1024px){
	h1 {
		font-size: 4rem;
		max-width: 369px;
	}

	.top p{
		font-size: 2rem;
	}
}

@media (max-width: 900px){

	body{
		background-position: top center;
	}

	h1{
		margin: 33px 0;
	}

	.top{
		flex-flow: column nowrap;
		max-height: none;
	}

	.icons {
		order: 2;
	}
	.top > img {
		width: 100%;
		max-width: 351px;
		align-self: flex-end;
		position: relative;
		z-index: -1;
		margin-top: -140px;
	}
	form{
		margin-bottom: 0;
	}
}



@media (max-width: 768px){

	.menubtn{
		display: block;
		width: 30px;
		height: 21px;
		position: relative;
		cursor: pointer;
	}
	.menubtn span{
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 3px;
		background-color: black;
		transition: transform 0.3s ease-out;
	}
	.menubtn span:nth-child(2){
		top: 10px;
	}
	.menubtn span:nth-child(3){
		top: 19px;
	}

	.menubtn:hover span:nth-child(2), .opened .menubtn span:nth-child(2){
		transform: scale(0);
	}
	.menubtn:hover span:nth-child(1), .opened .menubtn span:nth-child(1){
		transform: rotate(45deg) translateX(8px) translateY(6px);
	}
	.menubtn:hover span:nth-child(3), .opened .menubtn span:nth-child(3){
		transform: rotate(-45deg) translateX(7px) translateY(-6px);
	}

	nav{
		display: none;
	}
	.call_to_action{
		display: none;
	}

	header.opened{
		background-color: #fff;
	}

	.opened nav{
		position: absolute;
		left: 0;
		right: 0;
		top: 98px;
		display: block;
		background-color: rgba(255,255, 255, 0.99);
	}
	.opened .call_to_action{
		position: absolute;
		left: 0;
		right: 0;
		top: 178px;
		display: block;
		background-color: rgba(255,255, 255, 0.99);
	}
	.call_to_action a {
		display: block;
		text-align: center;
		margin-bottom: 20px;
		font-size: 2rem;
	}

	.top_link{
		display: block;
		text-align: center;
		padding: 10px;
		font-size: 2rem;
		width: 100%;
	}

	.top{
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
	}
	form {
		width: 100%;
		margin-right: calc(100% - 470px);
	}
	.icons {
		max-width: 150px;
		order: 0;
		margin-top: 50px;
		flex-direction: column;
	}
	.icon {
		margin-bottom: 20px;
	}
	.top > img {
		margin-top: 50px;
		align-self: flex-start;
	}
}



@media (max-width: 566px){
	header, .top{
		padding-left: 20px;
		padding-right: 20px;
	}
	.top > img {
		max-width: calc(100% - 150px);
	}
}


@media (max-width: 400px){
	.top > img {
		opacity: 50%;
		position: absolute;
		top: 100px;
		right: 20px;
		width: 90%;
	}
	form{
		padding: 0 0 0 8px;
	}
	
	input[type=submit]{
		width: 100px;
		padding: 16px 0;
		font-size: 1.4rem;
	}
	.icons {
		max-width: none;
		flex-flow: row wrap;
		gap: 20px;
	}
	.icon {
		margin: 0;
	}
}


